---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import PageHeader from '../../components/PageHeader.astro';
import Wyjazd from '../../components/Wyjazd.astro';

const lang = 'es';
const currentPath = '/es/peregrinaciones/';
---

<Layout title="Peregrinaciones - Ivotrans" lang={lang}>
  <Header lang={lang} currentPath={currentPath} />
  
  <PageHeader 
    title="Peregrinaciones"
    subtitle="Le invitamos a conocer nuestras propuestas de programas de peregrinación"
    backgroundImage="/images/zdjcienagaleriHOME1.jpg"
  />

  <main class="main-content">
    <Wyjazd
      kraj="Israel"
      tytul="Tras las huellas de Jesús"
      miejsca={['Belén', 'Jaffa', 'Ain Karem', 'Jerusalén', 'Mar de Galilea', 'Nazaret']}
      transport={['Avión', 'Autobús']}
      dni={8}
      pdf="/pdf/pilgrimages/1-Izrael-Sladami-Pana-Jezusa.pdf"
      zdjecie="/images/pilgrimages/Zdjcie1.jpg"
      jezyk="es"
    />

    <Wyjazd
      kraj="Israel y Egipto"
      tytul="Tierra Santa con el Monte Sinaí"
      miejsca={['Jerusalén', 'Belén', 'Cafarnaúm', 'Monte de las Bienaventuranzas', 'Jericó', 'Monte Sinaí']}
      transport={['Avión', 'Autobús']}
      dni={8}
      pdf="/pdf/pilgrimages/2-Izrael-Egipt-Ziemia-Swieta-z-Gora-Synaj.pdf"
      zdjecie="/images/pilgrimages/Zdjcie2.jpg"
      jezyk="es"
    />

    <Wyjazd
      kraj="Israel y Jordania"
      tytul="Tierra Santa con Jordania"
      miejsca={['Tel Aviv', 'Nazaret', 'Ain Karem', 'Petra', 'Amán', 'Madaba', 'Jerusalén']}
      transport={['Avión', 'Autobús']}
      dni={8}
      pdf="/pdf/pilgrimages/3-Izrael-Jordania-Ziemia-Swieta-z-Jordania.pdf"
      zdjecie="/images/pilgrimages/Zdjcie3.jpg"
      jezyk="es"
    />

    <Wyjazd
      kraj="Líbano"
      tytul="Peregrinación a la tumba de San Charbel"
      miejsca={['Harissa', 'Beirut', 'Tiro', 'Sidón', 'Annaya', 'Valle de Bekaa', 'Beka Kafra']}
      transport={['Avión', 'Autobús']}
      dni={8}
      pdf="/pdf/pilgrimages/4-Liban-Pielgrzymka-do-grobu-sw.-Ojca-Charbela.pdf"
      zdjecie="/images/pilgrimages/Zdjcie4.jpg"
      jezyk="es"
    />

    <Wyjazd
      kraj="Georgia y Armenia"
      tytul="Cuna del Cristianismo"
      miejsca={['Tiflis', 'Kajetia', 'Kazbegi', 'Kutaisi', 'Batumi', 'Ereván']}
      transport={['Avión', 'Autobús']}
      dni={13}
      pdf="/pdf/pilgrimages/5-Gruzja-Armenia-Kolebka-Chrzescijanstwa.pdf"
      zdjecie="/images/pilgrimages/Zdjcie5.jpg"
      jezyk="es"
    />

    <Wyjazd
      kraj="Francia, España y Portugal"
      tytul="Ruta de las Grandes Apariciones Marianas"
      miejsca={['La Salette', 'Lourdes', 'Fátima']}
      transport={['Avión', 'Autobús']}
      dni={14}
      pdf="/pdf/pilgrimages/6-Francja-Hiszpania-Portugalia-Szlak-Wielkich-Objawien-Maryjnych.pdf"
      zdjecie="/images/pilgrimages/Zdjcie6.jpg"
      jezyk="es"
    />

    <Wyjazd
      kraj="Portugal y España"
      tytul="Camino del peregrino a Fátima y Santiago de Compostela"
      miejsca={['Fátima', 'Santiago de Compostela']}
      transport={['Avión', 'Autobús']}
      dni={8}
      pdf="/pdf/pilgrimages/7-Portugalia-Hiszpania-Pielgrzymim-szlakiem-do-Fatimy-i-S.-de-Compostela.pdf"
      zdjecie="/images/pilgrimages/Zdjcie7.jpg"
      jezyk="es"
    />

    <Wyjazd
      kraj="Francia"
      tytul="Santuarios Marianos de Francia"
      miejsca={['París', 'Lourdes', 'La Salette']}
      transport={['Autobús']}
      dni={10}
      pdf="/pdf/pilgrimages/8-Francja-Sanktuaria-Maryjne-Francji.pdf"
      zdjecie="/images/pilgrimages/Zdjcie8.jpg"
      jezyk="es"
    />

    <Wyjazd
      kraj="Francia y España"
      tytul="Camino del peregrino alrededor de los Pirineos"
      miejsca={['Lourdes', 'Montserrat']}
      transport={['Avión', 'Autobús']}
      dni={8}
      pdf="/pdf/pilgrimages/9-Francja-Hiszpania-Na-pielgrzymim-szlaku-wokol-Pirenejow.pdf"
      zdjecie="/images/pilgrimages/Zdjcie9.jpg"
      jezyk="es"
    />

    <Wyjazd
      kraj="Austria, Suiza y Alemania"
      tytul="Ruta de los Santuarios Marianos Alpinos"
      miejsca={['Mariazell', 'Einsiedeln', 'Altötting']}
      transport={['Autobús']}
      dni={7}
      pdf="/pdf/pilgrimages/10-Szlakiem-alpejskich-Sanktuariow-Maryjnych.pdf"
      zdjecie="/images/pilgrimages/Zdjcie10.jpg"
      jezyk="es"
    />

    <Wyjazd
      kraj="Lituania"
      tytul="Visita a la Virgen de la Puerta del Alba"
      miejsca={['Trakai', 'Vilna', 'Kaunas', 'Šiauliai']}
      transport={['Autobús']}
      dni={5}
      pdf="/pdf/pilgrimages/11-Litwa-Z-wizyta-u-Matki-Bozej-Ostrobramskiej.pdf"
      zdjecie="/images/pilgrimages/Zdjcie11.jpg"
      jezyk="es"
    />

    <Wyjazd
      kraj="Croacia, Bosnia y Herzegovina"
      tytul="Perlas de Croacia y Medjugorje"
      miejsca={['Zagreb', 'Pula', 'Zadar', 'Split', 'Medjugorje', 'Dubrovnik', 'Trogir', 'Šibenik']}
      transport={['Autobús']}
      dni={8}
      pdf="/pdf/pilgrimages/12-Chorwacja-Bosnia-i-Hercegowina-Perly-Chorwacji-i-Medjugorje.pdf"
      zdjecie="/images/pilgrimages/Zdjcie12.jpg"
      jezyk="es"
    />

    <Wyjazd
      kraj="México"
      tytul="Peregrinación a la Virgen de Guadalupe"
      miejsca={['Ciudad de México', 'Puebla', 'Tenango Del Aire', 'Teotihuacán', 'Tula', 'Acapulco', 'Querétaro', 'Cuernavaca', 'Taxco']}
      transport={['Avión', 'Autobús']}
      dni={12}
      pdf="/pdf/pilgrimages/13-Meksyk-Pielgrzymka-do-Matki-Bozej-z-Guadalupe.pdf"
      zdjecie="/images/pilgrimages/Zdjcie13.jpg"
      jezyk="es"
    />

    <Wyjazd
      kraj="Grecia"
      tytul="Tras las huellas de San Pablo de Atenas a Tesalónica"
      miejsca={['Atenas', 'Peloponeso', 'Delfos', 'Termópilas', 'Meteora', 'Veria', 'Filipos', 'Tesalónica']}
      transport={['Avión', 'Autobús']}
      dni={9}
      pdf="/pdf/pilgrimages/14-Grecja-Sladami-sw.-Pawla-od-Aten-do-Salonik.pdf"
      zdjecie="/images/pilgrimages/Zdjcie14.jpg"
      jezyk="es"
    />

    <Wyjazd
      kraj="Turquía"
      tytul="Tras las huellas de San Pablo"
      miejsca={['Ankara', 'Capadocia', 'Konya', 'Antalya', 'Pamukkale', 'Éfeso', 'Pérgamo', 'Estambul']}
      transport={['Avión', 'Autobús']}
      dni={12}
      pdf="/pdf/pilgrimages/15-Turcja-Sladami-sw.-Pawla.pdf"
      zdjecie="/images/pilgrimages/Zdjcie15.jpg"
      jezyk="es"
    />

    <Wyjazd
      kraj="Malta"
      tytul="La Isla de San Pablo"
      miejsca={['La Valeta', 'Mdina', 'Rabat', 'Gozo', 'Bahía de San Pablo']}
      transport={['Avión', 'Autobús']}
      dni={8}
      pdf="/pdf/pilgrimages/16-Malta-Wyspa-sw.-Pawla.pdf"
      zdjecie="/images/pilgrimages/Zdjcie16.jpg"
      jezyk="es"
    />

    <Wyjazd
      kraj="Italia"
      tytul="Tras las huellas de los Santos y los Apóstoles"
      miejsca={['Padua', 'Asís', 'Roma', 'Subiaco', 'Loreto', 'Rávena']}
      transport={['Autobús']}
      dni={9}
      pdf="/pdf/pilgrimages/17-Wlochy-Sladami-Swietych-i-Apostolow.pdf"
      zdjecie="/images/pilgrimages/Zdjcie17.jpg"
      jezyk="es"
    />

    <Wyjazd
      kraj="Italia"
      tytul="Santuarios de Italia"
      miejsca={['Cascia', 'Asís', 'Loreto', 'Manoppello', 'San Giovanni Rotondo', "Monte Sant'Angelo", 'Nápoles', 'Roma']}
      transport={['Avión', 'Autobús']}
      dni={8}
      pdf="/pdf/pilgrimages/18-Wlochy-Sanktuaria-Italii.pdf"
      zdjecie="/images/pilgrimages/Zdjcie18.jpg"
      jezyk="es"
    />

    <Wyjazd
      kraj="Italia"
      tytul="Tras las huellas del Santo de Pietrelcina"
      miejsca={['Offida', 'Manoppello', 'Serracapriola', 'San Giovanni Rotondo', 'Pietrelcina', 'Roma']}
      transport={['Autobús']}
      dni={9}
      pdf="/pdf/pilgrimages/19-Wlochy-Sladami-Swietego-z-Pietrelciny.pdf"
      zdjecie="/images/pilgrimages/Zdjcie19.jpg"
      jezyk="es"
    />

    <Wyjazd
      kraj="España"
      tytul="Rutas de las fundaciones de Santa Teresa de Jesús"
      miejsca={['Burgos', 'Salamanca', 'Alba de Tormes', 'Ávila', 'Segovia', 'Toledo', 'Madrid']}
      transport={['Avión', 'Autobús']}
      dni={8}
      pdf="/pdf/pilgrimages/20-Hiszpania-Sladami-sw.-Teresy-od-Jezusa.pdf"
      zdjecie="/images/pilgrimages/Zdjcie20.jpg"
      jezyk="es"
    />

    <Wyjazd
      kraj="Irlanda"
      tytul="Ruta de San Patricio"
      miejsca={['Dublín', 'Glendalough', 'Rock of Cashel', 'Acantilados de Moher', 'Knock', 'Armagh', 'Belfast']}
      transport={['Avión', 'Autobús']}
      dni={9}
      pdf="/pdf/pilgrimages/21-Irlandia-Szlakiem-sw.-Patryka.pdf"
      zdjecie="/images/pilgrimages/Zdjcie21.jpg"
      jezyk="es"
    />
  </main>
  
  <Footer lang={lang} />
</Layout>

<style>
  .main-content {
    padding-top: 0;
  }
</style>
